{%  extends 'base.html.twig' %}

{%  block body %}
    <div class="container">
        <div class="row">
            {% for msg in app.session.flashBag.get('access_info') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {%  endfor %}
            {% for msg in app.session.flashBag.get('success_info') %}
                <div class="alert alert-success">
                    {{ msg }}
                </div>
            {% endfor %}
            <div class="col-sm-6 offset-3">

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                {{form_row(form.email,{ 'label': 'Email' } )}}
                {{form_row(form.password,{ 'label': 'Hasło' })}}


                <button type="submit" class="btn btn-success" formnovalidate>Login
                    <span class="fa fa-lock"></span></button>
                &nbsp;
                <a href="{{ path('app_register') }}">Rejestracja</a>
                {#<p class="text-right" ><a href="{{ path('passwordReset') }}">Zapomniałem Hasła</a></p>#}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}