{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center">Dodaj bibliotekę</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
            {{ form_start(libraryForm) }}

            {{ form_row(libraryForm.name, {
                label: 'Nazwa'
            }) }}

            {{ form_row(libraryForm.city, {
                label: 'Miasto'
            }) }}

            {{ form_row(libraryForm.district, {
                label: 'Dzielnica'
            }) }}

            {{ form_row(libraryForm.street, {
                label: 'Ulica'
            }) }}

            {{ form_row(libraryForm.houseNumber, {
                label: 'Numer Ulicy'
            }) }}

            <button type="submit" class="btn btn-primary" formnovalidate> Dodaj</button>
            {{ form_end(libraryForm) }}
        </div>
        </div>
</div>
{% endblock %}

